COJOINT ANALYSIS USING NETFLIX CUSTOMER MOCK DATA

In [2]:
# Libaries and Data for exploratory Analysis
import numpy as np
import pandas as pd

In [4]:
# loading Data
df = pd.read_csv('./data/netflix_customer_survey.csv')
df.head()

   customerid  NumberAccounts  price ExtraContent           ads  selected
0           7               2     10          HBO   one_per_day         1
1           7               6      8       Marvel  one_per_show         1
2           7               4     15       Disney   one_per_day         1
3           7               5     10          HBO   one_per_day         1
4           7               1     20       Soccer  one_per_show         1

Data Processing

In [7]:
#isolate Y and y 
y = df.selected
X = df.drop(columns=['selected','customerid'])
X.head(2)

   NumberAccounts  price ExtraContent           ads
0               2     10          HBO   one_per_day
1               6      8       Marvel  one_per_show

In [9]:
# Create dummy Variables
X_dummy = pd.get_dummies(X, columns = X.columns)
X_dummy.head()

,NumberAccounts_1,NumberAccounts_2,NumberAccounts_3,NumberAccounts_4,NumberAccounts_5,NumberAccounts_6,price_8,price_10,price_12,price_15,...,price_20,ExtraContent_Disney,ExtraContent_HBO,ExtraContent_Marvel,ExtraContent_Prime originals,ExtraContent_Soccer,ExtraContent_less content,ads_none,ads_one_per_day,ads_one_per_show
0,False,True,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,True,False
1,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,False,False,False,False,False,True
2,False,False,False,True,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
3,False,False,False,False,True,False,False,True,False,False,...,False,False,True,False,False,False,False,False,True,False
4,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,True